
body {
  background-color: #001eb3;
  background-image: url(https://www.transparenttextures.com/patterns/beige-paper.png);
}

h1 {
  color: black;
  font-family: "Lucida Console", Courier, monospace;
  text-align: center;
}

p {
  color: #54414E;
  font-family: "Lucida Console", Courier, monospace;

}

video {
	display: block; 
	width: auto; 
	margin: 0 auto; 
}

video::cue {
  background-image: linear-gradient(to bottom, dimgray, lightgray);
  color: black;
}

video::cue(b) {
  color: black;
